header,main {
  font-family: 'Raleway', sans-serif;
}

header{
  background-color:#6d39d2;
  display:flex;
  align-items:center;
  width: 100%;
}
header h1 {
  padding-left: 15px;
  font-weight: 400;
  color:white;
  font-size: 1.5em;
}
#profile {
  display:flex;
  width:100%;
}
.bell-icon {
  width:100%;
  display:flex;
  justify-content: flex-end;
}
.header-icon, .notifications{
  justify-content: flex-end;
}

.victoria {
  width:40%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}

.victoria h3 {
  align-items: center;
}

.victoria h3 {
  font-size: 0.7em;
  color:white;
  font-weight: 400;
}
.bell-icon img {
  justify-content: flex-end;
  padding: 10px;
  width:7%;
}

.victoria img {
  padding:5px 5px 5px 5px;
  width:20%;
  border-radius:50%;
}

/*------------MAIN----------*/
main, nav {
  width: 100%;
}
/*------------NAV----------*/
.navigation{
  background-color: purple;
  display:flex;
  justify-content: center;
}

.nav-icon {
  width: 5%;
  margin: 10px;
}

header,nav,main{
  border:1px solid;
}

.main-header{
  display:flex;
  align-items: flex-start;
}

.main-header-search {
  display:flex;
  width:100%;
  height: auto;
  padding-left:40px;
  background-color: #bd8bf0;
  border-bottom-left-radius: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.main-header-search input{
    justify-content:flex-end;
    border-radius:5px;
    height:50%;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left:100px;
    margin-right: 10px;
}

 h2 {
margin-left: 10px;
text-transform: uppercase;
}
.alert{
  margin-left: 15px;
  font-family:'Raleway', sans-serif;
  padding-top: 3px;
  padding-left:7px;
  padding-bottom: 3px;
  background-color: purple;
  color:white;
  border-radius:5px;
}
/*------------TRAFFIC----------*/
ul{
  list-style: none;
  font-weight: 800;
  display:flex;
  justify-content: flex-end;
}
li {
  margin-right: 10px;
}
/*------------GRAPHS CONTAINERS----------*/

h3{
  margin-left:10px;
}

.profile-image {
  border-radius: 50%;
}

svg{
border-radius: 50%;
  background-color: purple;
  padding: 15px;
  border:0px;
}

/*------------GRID MOBILE----------*/
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "navigation"
      "main";
}
.header{
    grid-area:header;}

.navigation{
    grid-area:navigation;}

.main{
    grid-area:main;}

.widget-container-full, .widget-container-half {
width: 95vw;}
/*------------GRID DESKTOP----------*/
@media (min-width:768px){
  .grid-container {
  display:grid;
  grid-template-columns:55px 1fr;
  grid-template-areas:
  "header header"
  "navigation main";}

  .header{
     grid-area:header;
     width:100%;
     grid-column: 1 / span 2;
    }

.navigation{
      grid-area:navigation;
    grid-column: -1 / span -1;
  display: flex;
  flex-direction: column;
}

  .main{
      grid-area:main;
    width: 100%;}

.main {display: grid;}
.main {grid-template-columns:50%;}
.alert, .main-header {grid-column: 1 / span 2;}
.traffic, .social {grid-column: 1 / span 2;}
.daily, .members, .message {grid-column: 1 / span 1;}
.mobile, .activity, .settings {grid-column: 2 / span 1;}
.widget-container-full { width: 90vw;}
.widget-container-half {width: 45vw;}

/*------------NAV ICONS----------*/
.navigation{
  background-color: purple;
  display:flex;
  align-items:center;
justify-content: flex-start;
}
.nav-icon {
  width: 50%;
}
/*------------GRAPH CONTAINERS----------*/
.social-container{
  display: inline-flex;
  justify-content: space-around;
  border: solid 1px;
  flex-wrap: nowrap;
  flex-grow: 1;
  /* margin-left: 10px;
  margin-right: 20px; */
  width: 1/3;
  border-radius: 5%;
  background-color: lightgrey;
}
/*------------SEARCH BAR----------*/

.main-header-search input{
    justify-content:flex-end;
    border-radius:5px;
    height:50%;
    width: 400px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left:570px;
    margin-right: 5px;
}

}
