header,main {
  font-family: 'Raleway', sans-serif;
}

header{
  background-color:#6d39d2;
  display:flex;
  align-items:center;
  width: 100%;
}
#profile{
  display: flex;
  width:100%;
  justify-content: flex-end;
  align-items:stretch;
}
header h1 {
  justify-content:flex-start;
  color:white;
  font-size: 1.17em;
  margin-left: 10px;
}
header h3{
  font-size: 1em;
}
.victoria{
  display: flex;
  align-items: center;
  color:white;
}
.victoria img{
  margin:10px;
  justify-content:flex-end;
  align-items: center;
  width:20%;
  border-radius: 50%;
}
.bell-icon {
  margin-top: 15px;
  margin-right:10px;
  justify-content: : flex-end;
  align-items: center;
  background-color: #6d39d2;
  width:5%;
}

/*------------NAV----------*/
nav{
  background-color: purple;
}

.nav-icon {
  width: 5%;
}

header,nav,main{
  border:1px solid;
}

.alert{
  background-color: purple;
}
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "navigation"
      "main";
}
header{
    grid-area:header;}

nav{
    grid-area:nav;}

main{
    grid-area:main;}

.widget-container-full, .widget-container-half {
width: 95vw;}

@media (min-width:768px){
  .grid-container {
  display:grid;
  grid-template-columns: 55px 1fr;
  grid-template-areas:
  "header header"
  "navigation main";}
  header{
      grid-area:header;}

  nav{
      grid-area:nav;}

  main{
      grid-area:main;}

.main {display: grid;}
.main {grid-template-columns: 50% ;}
.traffic, .social {grid-column: 1 / span 2;}
.daily, .members, .message {grid-column: 1 / span 1;}
.mobile, .activity, .settings {grid-column: 2 / span 1;}
.widget-container-full { width: 90vw;}
.widget-container-half {width: 45vw;}

}
